.Input-default {
    width: 240px;
    height: 24px;
    outline: none;
    border: none;
    border-bottom:  1px solid rgb(0, 0, 0);
}

.Input-default:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid tomato;
}

.Input-edit{
    outline: none;
    border-bottom: 1px solid #000000;

}