.Container{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Wrapper {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Border{
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    flex-basis: 240px;
    text-align: center;
    flex-wrap: wrap;
    clip-path: polygon(0 0, 78% 0, 100% 20%, 100% 100%, 80% 100%, 5% 100%, 0 84%, 0% 20%);
}

.Delete-button{
    z-index: 1000;
    position: absolute;
}

.Pagination ul li{
    display: inline;
    margin: 15px;
    padding: 5px;
    cursor: pointer;
}
.Pagination {
    display: flex;
    justify-content: center;
}
i{
    color: white;
}

img{
    background-size: cover;
}